p {
    font-family: Verdana;
    font-size: 18px;
  }

  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .type {
    color: grey;
    margin-top: 0px;
  }

  .description {
    width: 350px;
  }

  .get-started {
    background-color: #008b05;
    color: white;
    font-family: Verdana;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 9px;
    text-align: center;
    border: none;
    cursor: pointer;
  }