p {
    font-family: Montserrat;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.heading {
    font-weight: 550;
    font-size: 45px;
    margin-bottom: 10px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}