input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 100px;
}

.email {
  display: block;
  width: 236px;
}

button {
  background-color: rgb(47, 127, 231);
  width: 269px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}